/* working section style */
.working-img {
    height: 450px;
    width: 410px;
    margin-bottom: 20px;
}

.working-section {
    background-color: #c7c9ca;
}

.reg-sec {
    background-color: #41a3ee;
}